<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="Conn" connectionString="txt path={0}App_Data\db;ts=0" />
  </connectionStrings>
  <appSettings>
    <add key="Mvc.RouteMode" value="0"/>
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpModules>
        <!--IIS经典模式的配置（下面有一个集成模式的配置），如果访问不了，注释掉这1行-->
        <add name="Taurus.Core" type="Taurus.Core.UrlRewrite,Taurus.Core" />
      </httpModules>
    </system.web>
    <system.webServer>
      <validation validateIntegratedModeConfiguration="false" />
      <defaultDocument>
        <files>
          <clear />
          <add value="login.html" />
        </files>
      </defaultDocument>
      <modules>
        <!--IIS集成模式的配置（如果要在经典模式下运行，如IIS6，可以开启上面的配置）-->
      <add name="Taurus.Core" type="Taurus.Core.UrlRewrite,Taurus.Core" />
      </modules>
    </system.webServer>

</configuration>
