<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Conn" connectionString="txt path={0}App_Data"/>
  </connectionStrings>
  <appSettings>
    <!--  <add key="MicroService.Server.Name" value="RegCenter"/>

     <add key="MicroService.Server.Name" value="Gateway"/>
    <add key="MicroService.Server.RcUrl" value="http://192.168.9.121:8000/"/>

    <add key="MicroService.Client.RcUrl" value="http://192.168.9.121:8000"/>
    <add key="MicroService.Client.Name" value="ms"/>
    <add key="MicroService.Client.Domain" value="*.*"/>-->
    <!--指定控制器所在的项目（Dll）名称
    <add key="Mvc.Controllers" value="*"/>-->
    <!--是否启动默认的Token机制，可配置的映射字段：TableName,UserName,Password(这三个必填写，后面可选）,FullName,Status,PasswordExpireTime,Email,Mobile,RoleID,TokenExpireTime(这个是配置小时）
    <add key="Taurus.Auth" value="{TableName:Users,TokenExpireTime:24}"/>-->
    <!--<add key="Mvc.Suffix" value=".html"/>-->
    <!--配置模式【值为0,1或2】[默认为1]
      值为0：匹配{Action}/{Para}
      值为1：匹配{Controller}/{Action}/{Para}
      值为2：匹配{Module}/{Controller}/{Action}/{Para}
      <add key="Mvc.RouteMode" value="1"/>-->
    <!--指定页面起始访问路径，如果路由模式为2，主页可改成/xxx/home/index-->
    <add key="Mvc.DefaultUrl" value="/admin/index"/>

  </appSettings>
  <system.web>
    <!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
    <authentication mode="Windows"/>

    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpModules>
      <!--Taurus IIS应用程序池：经典模式（下运行，开启此配置，反之，注释掉此行）-->
    <add name="Taurus.Core" type="Taurus.Core.UrlRewrite,Taurus.Core"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <!--Taurus IIS应用程序池：集成模式（下运行，开启此配置，反之，注释掉此行）-->
      <add name="Taurus.Core" type="Taurus.Core.UrlRewrite,Taurus.Core"/>
      <remove name="OutputCache" />
      <remove name="Session"/>
      <remove name="WindowsAuthentication" />
      <remove name="FormsAuthentication" />
      <remove name="PassportAuthentication" />
      <remove name="RoleManager" />
      <remove name="UrlAuthorization" />
      <remove name="FileAuthorization" />
      <remove name="AnonymousIdentification" />
      <remove name="Profile" />
      <remove name="ErrorHandlerModule" />
      <remove name="ServiceModel" />
      <remove name="UrlRoutingModule-4.0" />
      <remove name="ScriptModule-4.0" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <remove name="Server" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>