<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head itemref="common.head">
    <title>AppSettings Config Info</title>
    <link itemref="common.btcss" />
    <link itemref="common.btcss_extend" />
    <style type="text/css">
        a {
            cursor: pointer;
        }

        table td {
            text-align: left;
            width: 30%;
        }
    </style>
</head>
<body itemref="common.body">
    <div id="container">
        <div>
            AppSettings Config ：
        </div>
        <hr />

        <table class="table table-striped">
            <tr>
                <td>Config Key</td>
                <td>Config Value</td>
                <td>Description</td>
            </tr>
        </table>
        <hr />
        <table class="table table-striped">
            <tbody id="configPluginView" clearflag="1">
                <tr>
                    <td>${ConfigKey}</td>
                    <td>${ConfigValue}</td>
                    <td>${Description}</td>
                </tr>
            </tbody>
        </table>
        <hr />
        <table class="table table-striped">
            <tbody id="configTaurusView" clearflag="1">
                <tr>
                    <td>Taurus.${ConfigKey}</td>
                    <td>${ConfigValue}</td>
                    <td>${Description}</td>
                </tr>
            </tbody>
        </table>
        <div id="configServerNode">
            <hr />
            <table class="table table-striped">

                <tbody id="configServerView" clearflag="1">
                    <tr>
                        <td>MicroService.Server.${ConfigKey}</td>
                        <td>${ConfigValue}</td>
                        <td>${Description}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="configClientNode">
            <hr />
            <table class="table table-striped">
                <tbody id="configClientView" clearflag="1">
                    <tr>
                        <td>MicroService.Client.${ConfigKey}</td>
                        <td>${ConfigValue}</td>
                        <td>${Description}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
