<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head itemref="common.head">
    <title>AppSettings Config Info</title>
    <link itemref="common.btcss" />
    <link itemref="common.btcss_extend" />
    <style type="text/css">
        a {
            cursor: pointer;
        }

        table td {
            text-align: left;
            word-break:break-all;
            word-wrap:break-word;
        }
    </style>
</head>
<body itemref="common.body">
    <div id="container">

        <div style="float:left">
            <a href="config?t=Mvc">Taurus - Mvc</a>&nbsp;|&nbsp;
            <a href="config?t=Plugin">Taurus - Plugin</a>&nbsp;|&nbsp;
            <a href="config?t=Microservice">Taurus - MicroService</a>&nbsp;|&nbsp;
            <a href="config?t=CYQ.Data">CYQ.Data - Orm</a>&nbsp;|&nbsp;
        </div>
        <div style="clear:both;">
        </div>
        <hr />
        <div style="text-align:left;padding-left:8px;"><h4>${t:Mvc} config :</h4> </div>
        <hr />
        <table class="table table-striped">
            <tr>
                <td width="30%">Config Key</td>
                <td width="30%">Config Value</td>
                <td width="40%">Description</td>
            </tr>
        </table>
        <table class="table table-striped">
            <tbody id="defaultView" clearflag="1">
                <tr>
                    <td width="30%">${ConfigKey}</td>
                    <td width="30%">${ConfigValue}</td>
                    <td width="40%">${Description}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
