<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head itemref="common.head">
    <title>Local Environment Info</title>
    <link itemref="common.btcss" />
    <link itemref="common.btcss_extend" />
    <style type="text/css">
        a {
            cursor: pointer;
        }

        table td {
            text-align: left;
        }
    </style>
</head>
<body itemref="common.body">
    <div id="container">
        <div>
            Local Environment ：
        </div>
        <hr />
        <table class="table table-striped">
            <tr>
                <td width="30%">Config Key</td>
                <td width="35%">Config Value</td>
                <td width="35%">Description</td>
            </tr>
        </table>
        <hr />
        <table class="table table-striped">
            <tbody id="defaultView" clearflag="1">
                <tr>
                    <td width="30%">${ConfigKey}</td>
                    <td width="35%">${ConfigValue}</td>
                    <td width="35%">${Description}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
