<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head itemref="master.head">
    <title>文章详情</title>
</head>
<body>
    <div itemref="master.header">
    </div>
     <div class="block clearfix">
        <div class="AreaL" >
            <div itemref="master.articlecate"></div>
        </div>
        <div class="AreaR">
            <div class="box_5">
                <div class="title">
                    <label id="txtTitle">标题</label>
                   </div>
                <div class="bodyarticle" id="txtBody">
                   内容
                </div>
            </div>
            <div class="blank">
            </div>
        </div>
    </div>
    <div itemref="master.footer">
    </div>
</body>
</html>
