<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head itemref="master.head">
    <title>最新资讯 - Taurus.MVC</title>
</head>
<body>
    <div itemref="master.header">
    </div>
    <div class="block clearfix">
        <div class="AreaL">
            <div itemref="master.articlecate"></div>
        </div>
        <div class="AreaR">
            <div class="box_5">
                <div class="title">
                    最新资讯
                </div>
                <div class="rbox clearfix">
                    <ul id="articleView">
                        <li><a href="/articledetail?id=${ID}" title="${Title}">${Title}
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="blank5">
            </div>
            <div id="pager" class="pagebar">

                <span class="f_l " style="margin-right: 10px;">总计
                    <label id="labCount"></label>
                    个记录</span>
            </div>
        </div>
    </div>
    <div itemref="master.footer">
    </div>
</body>
</html>
