<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head itemref="master.head">
    <title>WebAPI Demo</title>
    <script id="script2" src="/style/js/webapidemo.js?id=1"></script>
    <style type="text/css">
        #apiResult {
            height: 366px;
            width: 980px;
        }
    </style>
</head>
<body itemref="master.body">
    <div id="container">
        <h1>WebAPI Demo
        </h1>
        <input type="button" value="GetToken" onclick="getToken()" />
        ：<input id="token" value="" />
        |
        <input type="button" value="GetDataWithToken" onclick="getData('GetDataWithToken',true,'GET')" />
        ：<input type="button" value="GetDataWithNoToken" onclick="getData('GetDataWithNoToken',false,'GET')" />
        ：<input type="button" value="GetDataWithToken(Post)" onclick="getData('GetDataOnlyPost',true, 'POST')" />
        <br />
        <hr />
        <hr />
        <textarea id="apiResult"></textarea>
    </div>

</body>
</html>
