<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head itemref="master.head">
    <title>About us</title>
</head>
<body itemref="master.body">
    <div id="container">
        <h1>About Taurus.MVC
        </h1>
        <p>
            <h3>1：Can be used as mvc or webapi for asp.net and asp.net core.</h3>
            <h3>3：Everything in Nothing talk ...</h3>
            <h3>2：Can be used as gateway or register center for microservice.</h3>

        </p>
    </div>
</body>
</html>
