<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head itemref="common.head">
    <title>MicroService Register Center</title>
    <link itemref="common.btcss" />
    <link itemref="common.btcss_extend" />
    <style type="text/css">
        a {
            cursor: pointer;
        }

        .table-bordered td {
            text-align: left;
        }
    </style>
</head>
<body itemref="common.body">
    <div id="container" class="container" style="width:100%">
        <div class="starter-template">
            <div>
                <div>
                    MicroService Type ：<b>${MsType}</b>
                </div>
                <hr />
                <div style="float:left"><b>Server ：</b></div>
                <div id="serverNamesView" style="float:left" clearflag="1">
                    <a href="index?t=1&n=${Name}">${Name}（${Count}）</a>&nbsp;|&nbsp;
                </div>
                <div style="clear:both; height:5px;">
                </div>
                <div style="float:left"><b>Client - Host - Connect ：</b></div>
                <div id="clientHostView" style="float:left" clearflag="1">
                    <a href="index?t=2&n=${Name}">${Name}（${Count}）</a>&nbsp;|&nbsp;
                </div>
                <div style="clear:both;height:5px;">
                </div>
                <div style="float:left"><b>Client - Domain - Mapping ：</b></div>
                <div id="clientDomainView" style="float:left" clearflag="1">
                    <a href="index?t=3&n=${Name}">${Name}（${Count}）</a>&nbsp;|&nbsp;
                </div>
                <div style="clear:both;height:5px;">
                </div>
                <div style="float:left"><b>Client - Register - Module ：</b></div>
                <div id="clientModuleView" clearflag="1" style="text-align:left">
                    <a href="index?t=4&n=${Name}">${Name}（${Count}）</a>&nbsp;|&nbsp;
                </div>
                <div style="clear:both;">
                </div>
                <hr />
                <table class="table table-striped">
                    <tr>
                        <td>Display Name</td>
                        <td>PID</td>
                        <td title="internal host">Private Host Url</td>
                        <td title="public ip">Public IP</td>
                        <td>State</td>
                        <td>IsVirtual</td>
                        <td>Version</td>
                        <td>LastActiveTime</td>
                        <td clearflag="${IsRC:1}" title="go to client /doc.">To Doc</td>
                        <td clearflag="${IsRC:1}" title="go to client /admin.">To Admin</td>
                        <td clearflag="${IsRC:1}" title="download client rpc proxy dll.">Download RpcProxy</td>
                        <td clearflag="${IsRC:1}" title="view client rpc proxy code">View RpcProxy</td>
                        <td clearflag="${IsRCAdmin:1}" title="stop client microservice.">Stop Microservice</td>
                        <td clearflag="${IsRCAdmin:1}" title="exit client application.">Exit Application</td>
                    </tr>
                    <tbody id="defaultView" clearflag="1">
                        <tr>
                            <td>${Name}</td>
                            <td>${PID}</td>
                            <td><a href="index?t=5&n=${Host}">${Host}</a></td>
                            <td>${HostIP}</td>
                            <td><div ondblclick="checkUrl('${Host}',this)" title="double click to check host state again.">${State}</div></td>
                            <td>${IsVirtual}</td>
                            <td>${Version}</td>
                            <td>${RegTime}</td>
                            <td clearflag="${IsRC:1}"><a target="_blank" href="index?t=${t:1}&to=1&hostIP=${HostIP}&host=${Host}">ToDoc</a></td>
                            <td clearflag="${IsRC:1}"><a href="index?t=${t:1}&to=2&hostIP=${HostIP}&host=${Host}" target="_blank">ToAdmin</a></td>
                            <td clearflag="${IsRC:1}"><a onclick="downRpcProxy('${Host}',this);">Download</a></td>
                            <td clearflag="${IsRC:1}"><a onclick="viewRpcProxy('${Host}',this);">ViewCode</a></td>
                            <td clearflag="${IsRCAdmin:1}">
                                <a onclick="stop('${Host}',this);">Stop</a>
                            </td>
                            <td clearflag="${IsRCAdmin:1}">
                                <a onclick="exit('${Host}',this);">Exit</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <![CDATA[
                <script>
                    function stop(host, el) {
                        if (confirm("Stop [" + host + "] MicroService Confirm ?")) {
                            el.onclick = undefined;
                            el.style = "text-decoration: none; cursor: default; opacity: 0.2";
                            $.ajax({
                                type: "GET",
                                url: "StopClientMicroService?host=" + host,
                                success: function (result) {
                                    if (result && result.msg) {
                                        alert(result.msg);
                                    }
                                },
                                error: function (result) {
                                    alert("stop fail.");
                                }
                            });
                        }
                    }
                    function exit(host, el) {
                        if (confirm("Exit [" + host + "] Application Confirm ?")) {
                            el.onclick = undefined;
                            el.style = "text-decoration: none; cursor: default; opacity: 0.2";
                            $.ajax({
                                type: "GET",
                                url: "ExitClientAppliction?host=" + host,
                                success: function (result) {
                                    if (result && result.msg) {
                                        alert(result.msg);
                                    }
                                },
                                error: function (result) {
                                    alert("exit fail.");
                                }
                            });
                        }
                    }
                    function checkUrl(host, el) {
                        var text = $(el).html();
                        if (text == "- - -") { return; }
                        if (confirm("Check [" + host + "] State Again Confirm ?")) {
                            var state = text == "√" ? "1" : "-1";
                            $.ajax({
                                type: "GET",
                                url: "checkurl?host=" + host + "&state=" + state,
                                success: function (result) {
                                    if (result && result.msg) {
                                        alert(result.msg);
                                    }
                                },
                                error: function (result) {
                                    alert("checkurl fail.");
                                }
                            });
                        }
                    }
                    function downRpcProxy(host, el) {
                        var name = prompt("Input the api module name:", "RpcProxy");
                        if (name == undefined) { return; }
                        el.onclick = undefined;
                        el.style = "text-decoration: none; cursor: default; opacity: 0.2";

                        var url = "DownRpcProxy?host=" + host + "&name=" + name;
                        window.open(url, '_blank');
                    }
                    function viewRpcProxy(host, el) {
                        var name = prompt("Input the api module name:", "RpcProxy");
                        el.onclick = undefined;
                        el.style = "text-decoration: none; cursor: default; opacity: 0.2";
                        var url = "ViewRpcProxy?host=" + host + "&name=" + name;
                        window.open(url, '_blank');
                    }
                </script>
                ]]>
            </div>
        </div>
    </div>
</body>
</html>
