<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head itemref="common.head">
    <title>MicroService Register Center</title>
    <link itemref="common.btcss" />
    <link itemref="common.btcss_extend" />
    <style type="text/css">
        a { cursor:pointer;
        }
        .table-bordered td {
            text-align: left;
        }
    </style>
</head>
<body itemref="common.body">
    <div id="container">
        <div>
            MicroService Type ：<b>${MsType}</b>
        </div>
        <hr />
        <div style="float:left"><b>Server ：</b></div>
        <div id="serverNamesView" style="float:left" clearflag="1">
            <a href="index?t=1&n=${Name}">${Name}（${Count}）</a>&nbsp;|&nbsp;
        </div>
        <div style="clear:both; height:5px;">
        </div>
        <div style="float:left"><b>Client - Register - Host ：</b></div>
        <div id="clientHostView" style="float:left" clearflag="1">
            <a href="index?t=3&n=${Name}">${Name}（${Count}）</a>&nbsp;|&nbsp;
        </div>
        <div style="clear:both;height:5px;">
        </div>
        <div style="float:left"><b>Client - Register - Domain ：</b></div>
        <div id="clientDomainView" style="float:left" clearflag="1">
            <a href="index?t=1&n=${Name}">${Name}（${Count}）</a>&nbsp;|&nbsp;
        </div>
        <div style="clear:both;height:5px;">
        </div>
        <div style="float:left"><b>Client - Register - Module ：</b></div>
        <div id="clientModuleView" clearflag="1" style="text-align:left">
            <a href="index?t=1&n=${Name}">${Name}（${Count}）</a>&nbsp;|&nbsp;
        </div>
        <div style="clear:both;">
        </div>
        <hr />
        <table class="table table-striped">
            <tr>
                <td>Display Name</td>
                <td>Host</td>
                <td>State</td>
                <td>IsVirtual</td>
                <td>Version</td>
                <td>LastActiveTime</td>
                <td>Remote Exit</td>
            </tr>
            <tbody id="defaultView" clearflag="1">
                <tr>
                    <td><a target="_blank" href="${Host}/doc?g=${GatewayUrl}" title="doc">${Name}</a></td>
                    <td><a href="index?t=2&n=${Host}">${Host}</a></td>
                    <td>${State}</td>
                    <td>${IsVirtual}</td>
                    <td>${Version}</td>
                    <td>${RegTime}</td>
                    <td><a onclick="stop('${Host}',this);" title="stop application"><%# ('${Name}'=='RegCenter' || '${Name}'=='Gateway')?'':'${RemoteExit}'%></a></td>
                </tr>
            </tbody>
        </table>
        <![CDATA[
        <script>
            function stop(host, el) {
                if (confirm("Stop [" + host + "] Service Confirm ?")) {
                    el.onclick = undefined;
                    el.style = "text-decoration: none; cursor: default; opacity: 0.2";
                    $.ajax({
                        type: "GET",
                        url: host + "${RcPath}/exit?mskey=${RcKey}",
                        success: function (result) {
                            if (result) {
                                alert(result.msg);
                            }
                        },
                        error: function (result) {
                            alert("stop fail.");
                        }
                    });
                }
            }
        </script>
        ]]>
    </div>
</body>
</html>
