<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head itemref="master.head">
    <title>MicroService Register Center</title>
    <link itemref="master.btcss" />
    <link itemref="master.btcss_extend" />
    <style type="text/css">
        a { cursor:pointer;
        }
        .table-bordered td {
            text-align: left;
        }
    </style>
</head>
<body itemref="master.body">
    <div id="container">
        <div>
            MicroService Register Center：
        </div>
        <hr />
        <div id="namesView" style="float:left">
            <a href="${'/'+module}/microservice/index?name=${Name}">${Name}（${Count}）</a>&nbsp;|&nbsp;
        </div>
        <div style="clear:both;">
        </div>
        <hr />
        <table class="table table-striped">
            <tr>
                <td>Register Name</td>
                <td>Host</td>
                <td>Version</td>
                <td>LastActiveTime</td>
                <td>Remote Exit</td>
            </tr>
            <tbody id="defaultView" clearflag="1">
                <tr>
                    <td><a target="_blank" href="${Host}/doc?g=${GatewayUrl}" title="doc">${Name}</a></td>
                    <td><a target="_blank" href="${Host}">${Host}</a></td>
                    <td>${Version}</td>
                    <td>${RegTime}</td>
                    <td><a onclick="stop('${Host}',this);" title="stop application"><%# ('${Name}'=='RegCenter' || '${Name}'=='Gateway')?'':'Stop'%></a></td>
                </tr>
            </tbody>
        </table>
        <script>
            function stop(host,el)
            {
                if (confirm("Stop Service Confirm ?")) {
                    el.onclick = undefined;
                    el.style = "text-decoration: none; cursor: default; opacity: 0.2";
                    $.ajax({
                        type: "GET",
                        url: host + "/microservice/exit?mskey=${ClientKey}",
                        success: function (result) {
                            if (result) {
                                alert(result.msg);
                            }
                        }
                    });
                }
            }
        </script>
    </div>
</body>
</html>
